.project{
    border-top: 2px solid black;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
    min-height: 60px;
}

@media (min-width: 768px) {
    .project {
        padding-top: 0.6vw;
        padding-bottom: 0.6vw;
        min-height: 8vw;
    }
}
  
.project p{
    font-size: 20px;
    margin: 0px;
    white-space: nowrap;
    line-height: 1;
    display: flex;
    align-items: center;
    height: 60px;
}

@media (min-width: 768px) {
    .project p {
        font-size: 2.5vw;
        height: 8vw;
    }
}

.project p:nth-of-type(1){
    margin-right: 8px;
}

.project p:nth-of-type(2){
    margin-left: 8px;
}

@media (min-width: 768px) {
    .project p:nth-of-type(1){
        margin-right: 0.5vw;
    }

    .project p:nth-of-type(2){
        margin-left: 0.5vw;
    }
}

.project:last-of-type{
    border-bottom: 2px solid black;
}

.project .imgContainer{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 60px;
    position: relative;
    max-width: 100px;
}

@media (min-width: 768px) {
    .project .imgContainer{
        height: 8vw;
        max-width: 12vw;
    }
}

/* Remove the img styles since we're using Next.js Image component */
/* The Image component will handle the sizing through its fill prop and object-cover class */ 