.main {
  min-height: 100vh;
  background-color: white;
  color: black;
}

.originalSection {
  min-height: 100vh;
  padding: 0.5rem 1rem 3rem 1rem;
}

@media (min-width: 768px) {
  .originalSection {
    padding: 0.5rem 2rem 6rem 2rem;
  }
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.gallerySection {
  min-height: 100vh;
  padding: 2rem 1rem 0.5rem 1rem;
}

@media (min-width: 768px) {
  .gallerySection {
    padding: 2rem 2rem 0.5rem 2rem;
  }
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.perspectiveContainer {
  position: relative;
  height: 200vh;
  background-color: white;
}

.perspectiveSection {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.perspectiveImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.perspectiveImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardsSection {
  position: relative;
  background-color: white;
  height: auto;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .cardsSection {
    height: 500vh;
  }
} 